@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1200px;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.changebox {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    color: #3B82F6;
}

.changebox span {
    display: block;
    line-height: 1.2em;
    white-space: nowrap;
}

h1 {
    font-size: 2.5rem; /* Adjust as needed */
    line-height: 1.2;
}

@media (max-width: 1023px) {
    h1 {
        font-size: 2rem; /* Adjust for smaller screens */
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2.5rem; /* Adjust for larger screens */
    }
}